.credentials {
    margin-bottom: 2rem;
  }
  
  .badge-container {
    margin: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .badge-container:hover {
    transform: scale(1.1);
  }
  
  .badge-container img {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .badge-container {
      width: 45%;
    }
  }
  
  @media (max-width: 576px) {
    .badge-container {
      width: 100%;
    }
  }