# Next.js Configuration
NEXT_PUBLIC_SITE_URL=https://www.gitchegumi.com

# Listmonk Configuration
LISTMONK_URL=https://monk.gitchegumi.com
LISTMONK_API_KEY=kC3qcOvAOx3FYbpcGxgRINCd2Px2qzF6
LISTMONK_BLOG_LIST_NAME=Blog Subscribers
