body{
    background-color: #272727;
}

main{
    font-family: "miller-text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: #fff;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }

.audio{
    text-align: center;
    font-family: "miller-text", serif;
}

.btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}