#top_material{
    background-color: #3722af;
    border: 5px solid #c27319;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
    padding: 1%;
    text-align: center;
    font-family: "oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    color: #fff;
}

#toplinks{
    margin: auto;
    border: 1px solid #c27319;
    background: #3722af;
    font-family: "oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

body{
    font-family: "miller-headline", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    background-color: #272727;
    color: #fff;
}