<nav class="gm-pagination" aria-label="Pagination">
    {{#if prev}}<a href="{{page_url prev}}">&#8592; Newer posts</a>{{/if}}
    <span class="gm-pagination-info">Page {{pagination.page}} of {{pagination.pages}}</span>
    {{#if next}}<a href="{{page_url next}}">Older posts &#8594;</a>{{/if}}
</nav>
