body{
    background-color: #51CCE1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #c2c5c7;
    text-align: center;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
}

.content{
    background-color: #3511fc;
    margin: auto;
    padding: 10%;

    /* width: 80%;
    height: 80%; */
}

input, label{
    display: block;
    margin: auto;
}

#button{
    margin: auto;
    padding: 2%;
    background-color: #ec8e13;
    color: #3511fc;
    border: 2px solid #ceced1;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
}